<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.star_wars">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_star_wars"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_star_wars"
        android:supportsRtl="true"
        android:theme="@style/Theme.Starwars">
        <activity android:name=".InformacoesPersonagens"></activity>
        <activity android:name=".DetalhesPlaneta" />
        <activity android:name=".GaleriaPersonagens" />
        <activity android:name=".ListaPlanetas" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>